<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="module.support.mapper.SupportChatMapper">
    <select id="pagedQuery" resultType="module.support.model.Chat">
        select *
        from support_chat
        where 1=1
        <if test="lastTime != null and lastTime != '' ">
            and last_time BETWEEN 0 AND #{lastTime}
        </if>
        order by last_time DESC
        limit #{pageSize}
    </select>

    <select id="pagedQuery" resultType="module.support.model.Chat">
        select *
        from support_chat
        where 1=1
        <if test="params != null and params != '' ">
            and (remarks like concat('%',#{params},'%') or username = #{params})
        </if>
        order by last_time DESC
        limit 10
    </select>

</mapper>